[submodule "mustache.js"]
	path = mustache.js
	url = git://github.com/janl/mustache.js.git
[submodule "backbone"]
	path = backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "underscore"]
	path = underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "Backbone.localStorage"]
	path = Backbone.localStorage
	url = git://github.com/jeromegn/Backbone.localStorage.git
