<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/jquery-ui/css/smoothness/jquery-ui-1.8.21.custom.css" />
    <link rel="stylesheet" type="text/css" href="/app.css" />
  </head>
  
  <body>
    <div id="page"></div>

    <div id="page-edit-box">
      <p></p>
      <textarea rows="30"></textarea>
    </div>

    <div id="block-list-view">
      <ul></ul>
    </div>

    <div id="guidelines" style="width:100px;">
      <div id="glv"></div>
      <div id="glh"></div>
    </div>

    <!--templates-->
    <script type="text/template" id="template-block-list-items">
      {{#blocks}}
      <li id="{{cid}}" class="{{#selected}}selected{{/selected}}">{{attributes.title}}</li>
      {{/blocks}}
    </script>
    
    <script type="text/template" id="template-editbox">
      <div class="editview" style="position:absolute;top:{{top}}px;left:{{left}}px;width:500px;">
        <button class="close" style="position:absolute;top:0;right:0;">x</button>
        <div class="clear"></div>
        <textarea class="content" style="width:100%;" rows="18">{{raw}}</textarea>
      </div>
    </script>
    <script type="text/template" id="template-blockview">
      <div class="block" style="position:absolute;top:{{top}}px;left:{{left}}px;width:{{width}}px;height:{{height}}px">
        <div class="content">{{&html}}</div>
      </div>
    </script>
    <!--
    <script type="text/template" id="template-blockview-toolbox">
      <ul class="block-toolbox">
        <li class="edit">Edit</li>
        <li class="remove">Remove</li>
        <li class="comment">Comment</li>
        <li class="publish">Publish</li>
        <li class="style">Style</li>
      </ul>
    </script>
    -->
    
    <script>
      PAGE = <%= page %>;
      BLOCKS = <%= blocks %>;
    </script>
    <script src="/config.js"></script>
    <script src="/jquery-1.7.2.min.js"></script>
    <script src="/jquery-ui/js/jquery-ui-1.8.21.custom.min.js"></script>    
    <script src="/underscore/underscore.js"></script>
    <script src="/backbone/backbone.js"></script>
    <script src="/Backbone.localStorage/backbone.localStorage.js"></script>
    <script src="/mustache.js/mustache.js"></script>		
    <script src="/c.js"></script>
    <script src="/jquery.hotkeys.js"></script>
    <script src="/models/block.js"></script>
    <script src="/models/page.js"></script>
    <script src="/models/blocklist.js"></script>
    <script src="/views/page-view.js"></script>
    <script src="/views/page-edit-view.js"></script>
    <script src="/views/block-list-view.js"></script>
    <script src="/views/block-view.js"></script>    
    <script src="/views/block-edit-view.js"></script>
    <script src="/views/block-toolbox-view.js"></script>
    <script src="/app.js"></script>
    <script>
      $(function(){
        window.page = new Page(PAGE);
        window.blocks = new BlockList().reset(BLOCKS);;
        /* window.blocks = new BlockList().fetch(); */
      });
    </script>
  </body>
</html>
