<!DOCTYPE html>
<html>

  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/jquery-ui/css/smoothness/jquery-ui-1.8.21.custom.css" />
    <link rel="stylesheet" type="text/css" href="/app.css" />
    <script id="bootstrap">
      var page =<%= page %>;
      var blocks = <%= blocks %>;
    </script>
  </head>
  
  <body>

    <!-- app container -->
    <div id="page"></div>
    
    <!-- drag guide lines -->
    <div id="guidelines" style="width:100px;">
      <div id="glv"></div>
      <div id="glh"></div>
    </div>






    <!--templates-->
    <script type="text/template" id="template-editbox">
      <div class="editview" style="position:absolute;top:{{top}}px;left:{{left}}px">
        <button class="close" style="float:right;">x</button>
        <div class="clear"></div>
        <textarea rows="10" cols="50">{{text}}</textarea>
      </div>
    </script>
    <script type="text/template" id="template-blockview">
      <div class="block" style="position:absolute;top:{{top}}px;left:{{left}}px;width:{{width}}px;height:{{height}}px">
        <div class="content"><pre>{{&html}}</pre></div>
      </div>
    </script>
    <script type="text/template" id="template-blockview-toolbox">
      <ul class="block-toolbox">
        <li class="edit">Edit</li>
        <li class="remove">Remove</li>
        <li class="comment">Comment</li>
        <li class="publish">Publish</li>
        <li class="style">Style</li>
      </ul>
    </script>


    <!-- load this first, ref: backbone.js line 42 -->
    <script src="/jquery-1.7.2.min.js"></script>
    <script src="/jquery-ui/js/jquery-ui-1.8.21.custom.min.js"></script>    
    <script src="/underscore/underscore.js"></script>
    <script src="/backbone/backbone.js"></script>
    <script src="/Backbone.localStorage/backbone.localStorage.js"></script>
    <script src="/mustache.js/mustache.js"></script>		
    <script src="/c.js"></script>
    <script src="/jquery.hotkeys.js"></script>
    <script src="/app.js"></script>



  </body>
</html>
