<!doctype html>
<html>
<body>
  <form id="signup" method="POST" >
    <table>
      <tr>
        <td><label>Email </label></td>
        <td><input type="text" name="signup[email]" /></td>
      </tr>
      <tr>
        <td><label>Password </label></td>
        <td><input type="password" name="signup[password]" /></td>
      </tr>
      <tr>
        <td><label>Display name </label></td>
        <td><input type="display_name" name="signup[display_name]" /></td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit">Sign Up</button></td>
      </tr>
    </table>
  </form>
</body>
</html>
