<!doctype html>
<html>
<body>
  <form id="signin" method="POST" >
    <table>
      <tr>
        <td><label>Email </label></td>
        <td><input type="text" name="signin[email]" /></td>
      </tr>
      <tr>
        <td><label>Password </label></td>
        <td><input type="password" name="signin[password]" /></td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit">Sign Up</button></td>
      </tr>
    </table>
  </form>
</body>
</html>
