@mixin box-shadow {
   -moz-box-shadow:    0px 5px 10px #555;
    -webkit-box-shadow: 0px 5px 10px #555;
    box-shadow:         0px 5px 10px #555;
}

@mixin box-rounded-corner($radius) {
     -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-opacity($opacity) {
    -moz-opacity:$opacity / 100;
    filter:alpha(opacity=$opacity);
    opacity:$opacity / 100;
}

@mixin toolbar-button {
    button {
        margin:0;
        background:transparent;
        border: 0;
        font-family:serif;
        font-size:96%;
    }
}

html,body {
    margin: 0;
    padding: 0;
    font-size: 13px;    
}

html * {
    font-family: Tahoma, sans-serif;
}

#page {
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:1000px;
    .block {
        margin:0;
        padding:10px;
    }
    .block:hover{
        cursor: pointer;
    }
    .block.selected {
        color:#fff;
        background:#333;
    }
    .block .content pre {
        margin:0;
        padding:0;
    }
}

#header {
    position:fixed;
    margin:0;
    padding:0;
    top:0;
    left:0;
    width:100%;
    border:0;
    font-size:1.1em;
    @include box-shadow;
    @include box-opacity(90);
    #logo {
        position:fixed;
        top:2px;
        left:20px;
        font-family:serif;
        font-weight:bold;
    };
    #toolbar{
        ul {
            margin:0;
            padding:0;
            list-style-type:none;
            text-align:center;
            li {
                display:inline;
                margin:0;
                padding:0;
                @include toolbar-button;
            };
            li.separator {
                color:#ccc;
            }
        }
    }

    #toolbar-toggler {
        position:fixed;
        top:0;
        right:0;
        background:transparent;
        @include toolbar-button;
        .show {
            display:none;
        }
    }

}



.editview {
    padding:.5em;
    background-color:#fff;
    @include box-shadow;
    @include box-rounded-corner(5px);
    textarea {
        outline: 0;
        border: 0;
        background-color:#fff;
    }
}

#page-edit-box {
    position:fixed;
    top:-1000px;
    left:100px;
    width:300px;
    padding:.5em;
    background:#fff;
    @include box-shadow;
    @include box-rounded-corner(5px);
    z-index: 5000;
    textarea {
        width:100%;
        border:0;
        outline:0;
        margin:0;
        padding:0;
        background:#fff;
    }
}

#block-list-view {
    position:fixed;
    top:100px;
    left:-500px;
    padding:30px;
    background:#fff;
    z-index: 10000;
    @include box-shadow;
    @include box-rounded-corner(5px);
    &:hover{
        cursor:pointer;
    }
    ul {
        list-style-type:none;
        margin:0;
        padding:0;
        li {
            padding:.1em;
            margin:0;
            margin-bottom:.1em;
        }
        li.hover {
            background:#eee;
        }
        li.selected {
            background:#000;
            color:#fff;
        }
        
    }
}


#glv, #glh {
    position:absolute;
    top:0;
    left:0;
    background:#eee;
    border:0;
    padding:0
}
#glv {
    width:1px;
    height:100%;
}

#glh {
    width:100%;
    height:1px;
}

.clear{ clear:both; }
