html, body {
  margin: 0;
  padding: 0;
  font-size: 13px; }

html * {
  font-family: Tahoma, sans-serif; }

#page {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px; }
  #page .block {
    margin: 0;
    padding: 10px; }
  #page .block:hover {
    cursor: pointer; }
  #page .block.selected {
    color: #fff;
    background: #333; }
  #page .block .content pre {
    margin: 0;
    padding: 0; }

#header {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
  font-size: 1.1em;
  -moz-box-shadow: 0px 5px 10px #555;
  -webkit-box-shadow: 0px 5px 10px #555;
  box-shadow: 0px 5px 10px #555;
  -moz-opacity: 0.9;
  filter: alpha(opacity=90);
  opacity: 0.9; }
  #header #logo {
    position: fixed;
    top: 2px;
    left: 20px;
    font-family: serif;
    font-weight: bold; }
  #header #toolbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center; }
    #header #toolbar ul li {
      display: inline;
      margin: 0;
      padding: 0; }
      #header #toolbar ul li button {
        margin: 0;
        background: transparent;
        border: 0;
        font-family: serif;
        font-size: 96%; }
    #header #toolbar ul li.separator {
      color: #ccc; }
  #header #toolbar-toggler {
    position: fixed;
    top: 0;
    right: 0;
    background: transparent; }
    #header #toolbar-toggler button {
      margin: 0;
      background: transparent;
      border: 0;
      font-family: serif;
      font-size: 96%; }
    #header #toolbar-toggler .show {
      display: none; }

.editview {
  padding: .5em;
  background-color: #fff;
  -moz-box-shadow: 0px 5px 10px #555;
  -webkit-box-shadow: 0px 5px 10px #555;
  box-shadow: 0px 5px 10px #555;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .editview textarea {
    outline: 0;
    border: 0;
    background-color: #fff; }

#page-edit-box {
  position: fixed;
  top: -1000px;
  left: 100px;
  width: 300px;
  padding: .5em;
  background: #fff;
  -moz-box-shadow: 0px 5px 10px #555;
  -webkit-box-shadow: 0px 5px 10px #555;
  box-shadow: 0px 5px 10px #555;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 5000; }
  #page-edit-box textarea {
    width: 100%;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    background: #fff; }

#block-list-view {
  position: fixed;
  top: 100px;
  left: -500px;
  padding: 30px;
  background: #fff;
  z-index: 10000;
  -moz-box-shadow: 0px 5px 10px #555;
  -webkit-box-shadow: 0px 5px 10px #555;
  box-shadow: 0px 5px 10px #555;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  #block-list-view:hover {
    cursor: pointer; }
  #block-list-view ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #block-list-view ul li {
      padding: .1em;
      margin: 0;
      margin-bottom: .1em; }
    #block-list-view ul li.hover {
      background: #eee; }
    #block-list-view ul li.selected {
      background: #000;
      color: #fff; }

#glv, #glh {
  position: absolute;
  top: 0;
  left: 0;
  background: #eee;
  border: 0;
  padding: 0; }

#glv {
  width: 1px;
  height: 100%; }

#glh {
  width: 100%;
  height: 1px; }

.clear {
  clear: both; }
